.br{
    border-radius: 20px;
}
.crd{
    width: 70vw
}
@media only screen and (max-width: 720px) {
    .crd {
        width: 95vw;
    }
  }
  .div-horizontal {
    overflow: auto;
    white-space: pre-wrap; 
  }
  .table {
    width: 1000px;
    overflow: auto;
    table-layout: auto !important;
  } 